<section class="flex bg-black h-[85vh] w-[100vw] items-center justify-around">
  <section class="flex items-start justify-around flex-col w-[30%] h-[90%]">

    <!--  Textos  -->
    <span class="w-[80%] h-[10%] bg-orange rounded-full flex items-center justify-around">
      <p class="text-white font-text text-1xl">
        Chaveiro 24 horas
      </p>
    </span>
    <h1 class="text-white font-tittle text-5xl font-bold">
      <span class="text-6xl text-orange">Empório</span><br> das Chaves
    </h1>
    <p class="text-grey font-text text-[1.25rem]">
      Serviço de chaveiro com agilidade, segurança e confiança! Atendimento 24 horas para você!
    </p>



    <!--  Btn e Detail  -->
    <section class="flex h-[15%] w-[100%] items-start justify-around flex-col px-[0.5rem]">
      <a
        class="hover bg-orange w-[40%] h-[90%] rounded-md flex items-center justify-around font-bold text-tittle text-white"
        (click)="navigatePath(['catalogo'])"
      >Ver Catalogo</a>
    </section>
  </section>



  <figure class="h-[100%] w-[60%] flex items-center justify-around">
    <img
      class="h-[90%] w-auto"
      src="./assets/Logo.png"
    >
  </figure>
</section>
