<nav class="h-20 w-[100vw] flex items-center justify-around">

  <!--  Implementação do componente de Menu, A parte de responsividade vai ser criada mais pra frente -->
  <div class="w-[95%] h-20 top-0 flex items-center justify-around p-dark fixed z-50">
    <p-menubar
      [model]="links"
      class="w-[100%] z-50"
    >
      <ng-template #start>
        <h2 class="text-white font-tittle font-bold text-2xl ml-[1rem] mr-[1.5rem]">
          <span class="text-orange">Empório</span> das Chaves
        </h2>
      </ng-template>
    </p-menubar>
  </div>


</nav>
