<section class="w-[100%] h-[85vh] flex items-center justify-around flex-col">


  <h2 class="font-tittle font-bold text-orange text-2xl">
    Localização no Mapa
  </h2>

  <iframe
    class="w-[60%] h-[75%] rounded-xl border-[5px] border-orange border-solid"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d900.3360560679216!2d-54.55207252778625!3d-25.493564000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f69bbe9d741805%3A0xaa39e7527eafa6a9!2sEmp%C3%B3rio%20das%20Chaves%20(%20Chaveiro%2024%20Horas%20)!5e0!3m2!1spt-BR!2sbr!4v1786731552512!5m2!1spt-BR!2sbr"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>


</section>
