
<main class="min-h-[85vh] w-[100%] flex items-start justify-end">

  <app-menu-bar />



  <section class="w-[75%] right-0 h-auto flex flex-col items-center justify-around pr-12">
    <section class="w-[100%] height-24 flex items-center justify-start" >
      <h1 class="text-white font-tittle font-bold text-3xl min-h-[7rem] flex items-center justify-around">
        Criar novo item
      </h1>
    </section>



  <form
    [formGroup]="formAdicionarItem"
    class="bg-black border-orange border-1 min-h-128 h-auto w-[100%] flex flex-col items-center justify-around rounded-xl py-8"
    (submit)="criarItem()"
  >


    <!--  Nome  -->
    <p-floatlabel class="w-[90%]">
      <input
        formControlName="nome"
        pInputText
        class="w-[100%]"
        id="editarItensNome"
      />
      <label for="editarItensNome">Nome do Item:</label>
    </p-floatlabel>





    <!--  Descricao  -->
    <p-floatlabel class="w-[90%]">
      <input
        formControlName="descricao"
        pInputText
        class="w-[100%]"
        id="editarItensDesc"
      />
      <label for="editarItensDesc">Descrição:</label>
    </p-floatlabel>








    <!--  Preco  -->
    <p-floatlabel class="w-[90%]">
      <input
        formControlName="preco"
        pInputText
        class="w-[100%]"
        id="editarItensPreco"
      />
      <label for="editarItensPreco">Preço:</label>
    </p-floatlabel>






      <!--  Select de TipoItem  -->
      <p-floatlabel class="w-[90%]">
        <p-select
          formControlName="tipo"
          [options]="listaTiposItem"
          optionLabel="name"
          optionValue="value"
          placeholder="Selecione o tipo"
          class="w-full"
          inputId="editarItensTipo"
          [showClear]="true"
        />
        <label for="editarItensTipo">Tipo de Item</label>
      </p-floatlabel>




      <!-- SELECT 2: Categoria (Dinâmico via Observable) -->
      <!--  Recorri aos grandes mestres do olimpo de inteligencia de nuvem artificial aqui  -->
      <p-floatlabel class="w-[90%]">
        <p-select
          formControlName="categoriaId"
          [options]="(listaCategorias$ | async) || []"
          optionLabel="nome"
          optionValue="id"
          placeholder="Selecione a categoria"
          class="w-full"
          inputId="editarItensCategoria"
          [loading]="!(listaCategorias$ | async)"
          [showClear]="true"
        />
        <label for="editarItensCategoria">Categoria do Item</label>
      </p-floatlabel>






      <button
        pButton
        type="submit"
        [disabled]="formAdicionarItem.invalid"
        class=" w-[50%] h-16 mt-4 font-bold text-2xl"
        size="large"
      >
        Criar novo item!
      </button>
  </form>



  </section>




  <!--  Modulo de Alerta  -->
  <p-toast></p-toast>
</main>
