<main class="min-h-[85vh] w-[100%] flex items-start justify-end">


  <app-menu-bar />


  <section class="w-[75%] right-0 h-auto flex flex-col items-center justify-around">
    <section class="w-[100%] h-auto flex flex-col items-center justify-around">

      <div class="w-[100%] height-24 flex items-center justify-start" >
        <!--  Uhhh, apenas para um menu de CRUD inicial simples, aqui temos a ideia base do sistema de itens e Adicionar Itens e talz  -->
        <h1 class="text-white font-tittle font-bold text-2xl min-h-[7rem] flex items-center justify-around">
          <span class="text-orange text-4xl mr-2">Bem-vindo</span> ao Sistema!
        </h1>


      </div>





      <ul class="h-[auto] w-[100%] flex justify-between items-center flex-wrap mt-[4rem] pr-12">
        @for (  item of menuItens; track item.id  ) {
          <button
            (click)="redirectPath(  item.path  )"
            class="menuCardItem h-48 w-48 p-8 rounded-xl flex items-center justify-around flex-col bg-black border-1 border-solid border-orange"
          >
            <i [class]="item.icon" style="  font-size: 2rem; color: #FB6702  "></i>

            <p class="text-xl text-bold">
              {{  item.tittle  }}
            </p>


          </button>
        }
        @empty {
          <h2 class="text-bold text-orange">Sem nenhum item... :(</h2>
        }
      </ul>
    </section>


  </section>


</main>
