<app-header />

<main class="min-h-[85vh] w-[100vw] flex flex-col justify-around items-center">

  <section class="h-24 w-[100%] flex flex-col items-center justify-around">
    <h2 class="font-tittle font-bold text-3xl">
      Nossas <span class="text-orange">Categorias</span> de Serviços
    </h2>
  </section>


  <ul class="flex flex-col justify-around items-center w-[100%] h-auto pt-12 pb-4">
    <!--  Renderização condicional através de Pipes  -->
    @if (  categorias$ | async; as categorias  ) {
      @for (  cat of categorias; track cat.id  ) {
        <li class="mb-8 bg-black px-[1rem] py-[0.5rem] flex justify-evenly items-center rounded-xl border-orange border-solid border-1 w-[75%] h-24">
          <div class="flex">
            <!--  Criar mais algumas categorias, e linkar elas aqui pelo nome o icone  -->
            @if (  cat.nome == "Chaves"  ) {  <i class="pi pi-key mr-4" style="font-size: 1.5rem"></i>  }
            @if (  cat.nome == "Cadeados"  ) {  <i class="pi pi-lock mr-4" style="font-size: 1.5rem"></i>  }
            @if (  cat.nome == "Acessorios"  ) {  <i class="pi pi-list mr-4" style="font-size: 1.5rem"></i>  }
            @if (  cat.nome == "Servicos"  ) {  <i class="pi pi-hammer mr-4" style="font-size: 1.5rem"></i>  }
            <h2 class="text-white font-tittle font-bold text-2xl">{{  cat.nome  }}</h2>
          </div>

          <p-button
            label="Faça um orçamento agora!"
            icon="pi pi-phone"
            size="large"
            (onClick)="navigatePath('/contato')"
          />
       </li>
      }
    }
    @else {
      <p class="col-span-full text-center text-gray-400 py-10">
        Carregando...
      </p>
    }
  </ul>



</main>
